.register-page {
    display: flex;
    background-color: #d0e7f9;
    height: 100vh;
  }
  
  .iframe{
    border: none;
    align-items: center;
    width: 700px;
    height: 700px;
    margin: 200px auto;
  }
  .sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 0;
  }
  
  .menu hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px 0;
    transition: color 0.3s;
  }
  
  .menu-item img {
    width: 20px;
    margin-right: 10px;
  }
  
  .menu-item:hover {
    color: #0091FF;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #007bff;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #333;
  }
  
  .success {
    border-color: green;
  }
  
  .error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .loginBtn{
      margin-top: 3vh;
  }
  
  .signupBtn{
      margin-bottom: 4vh;
  }

  .icon {
    width: 20px; /* 아이콘 크기 */
    height: auto;
    margin-right: 8px; /* 텍스트와의 간격 */
    vertical-align: middle; /* 텍스트와 수직 정렬 */
    border-radius: 100%;
    background-color: lightslategray;
  }
  
  .menu button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 0;
  }

  /*로그아웃 버튼*/
  .menu .logout-button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    padding-left: 65pt;
    
  }
  
  .logout-button:hover {
    background-color: rgb(255, 48, 48);
  }

  /*반갑습니다 XXX님 부분 태그*/
  .userName{
    text-align: center;
  }